.banner {
    margin-top: 8.3%;
    margin-left: 13.9%;
    font-size: $font-size-h1;
    p {
        max-width: 628px;
    }
    h1 {
        display: inline-block;
        max-width: 1200px;
        font-family: $font-family-h;
    }
}


/*Caracteristicas de palabras especificas*/

.world {
    font-family: $font-family-h;
    text-decoration: line-through;
}

.blue-dot {
    font-family: $font-family-h;
    color: $primary-color;
}

.btn-more-info {
    border: none;
    margin-top: 56px;
    width: 225px;
    height: 56px;
    color: $font-color;
    font-size: $font-size-btn;
    background-color: $secondary-color;
    cursor: pointer;
}

.btn-more-info:hover {
    background-image: $btn-hover;
    cursor: pointer;
    color: $secondary-font-color;
}