/*Estilos de la seccion Banner*/

.banner {
    animation-name: opacity;
    animation-duration: 2.5s;
    margin-top: 8.3%;
    margin-left: 13.9%;
    font-size: $font-size-h1;
    p {
        max-width: 628px;
    }
    h1 {
        display: inline-block;
        max-width: 1200px;
        font-family: $font-family-h;
    }
}


/*Caracteristicas de palabras especificas*/

.world {
    font-family: $font-family-h;
    text-decoration: line-through;
}

.blue-dot {
    font-family: $font-family-h;
    color: $primary-color;
}

.btn-more-info {
    margin-top: 56px;
    width: 225px;
    height: 56px;
    @extend %btn-common-properties;
}

.btn-more-info:hover {
    @extend %btn-hover;
}