/*Estilos del Footer*/

footer {
    display: flex;
    justify-content: space-between;
    margin-left: 6.9%;
    margin-right: 6.9%;
    margin-bottom: 31px;
    a {
        padding-top: 5px;
        width: 100%;
        height: auto;
        text-align: center;
    }
    a:hover {
        i {
            background: $btn-hover;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: scale(1.5);
        }
    }
}

.container-social-networks {
    width: 20%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2.5%;
}

i {
    width: 18px;
    height: 28px;
    color: $font-color;
}