/*Estilos de la seccion Invitados*/

.guests {
    position: relative;
    top: -25vh;
    h2 {
        margin-bottom: 2.5%;
    }
}

.galery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 9.3% 9.3%;
    img {
        width: 100%;
    }
}