/*Estilos de la seccion Temas*/

.themes {
    animation-name: opacity;
    animation-duration: 2.5s;
    position: relative;
    top: -18vh;
    h2 {
        margin-bottom: 3.9%;
    }
}

.container-themes {
    margin-left: 13.9%;
    margin-right: 13.9%;
    display: grid;
    grid-template-rows: 130px 64px;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    justify-items: center;
    font-size: $font-size-themes;
    text-align: center;
}

.text-theme1 {
    grid-row-start: 2;
    grid-row-end: 3;
}

.text-theme2 {
    grid-row-start: 2;
    grid-row-end: 3;
}

.text-theme3 {
    grid-row-start: 2;
    grid-row-end: 3;
}

.text-theme4 {
    grid-row-start: 2;
    grid-row-end: 3;
}