/*Variables en donde se guarda todas la paleta de colores*/

$primary-color: #0000EC;
$secondary-color: #00F3BB;
$font-color: #060A24;
$secondary-font-color:#ffff;
$background-gradient: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$btn-hover: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
$font-color-active:rgba(6, 10, 36, 0.56);

/*Variables en donde se guarda el tamaño de las fuentes*/

$font-size-desktop: 16px;
$font-size-mobile: 14px;
$font-size-btn: 18px;
$font-size-h-mobile: 36px;
$font-size-h1: 64px;
$font-size-h: 48px;
$font-size-themes:24px;
$font-family-h: 'IBM Plex Sans',
sans-serif;
;
%btn-common-properties {
    color: $font-color;
    font-size: $font-size-btn;
    background-color: $secondary-color;
    cursor: pointer;
    border: none;
}

%btn-hover {
    background-image: $btn-hover;
    cursor: pointer;
    color: $secondary-font-color;
    transform: scale(1.2);
}