.where-come {
    display: flex;
    justify-content: center;
    img {
        width: 457.6px;
        height: auto;
    }
    .container-text {
        margin-left: 4.3%;
        align-self: center;
        max-width: 464px;
    }
    h2 {
        margin-bottom: 24px;
    }
    p {
        margin-bottom: 10px;
    }
}