/*Reglas basicas para algunas etiquetas en el diseño mobile*/

p {
    font-size: $font-size-mobile;
}

a {
    font-size: $font-size-mobile;
}

h2 {
    font-size: $font-size-h-mobile;
    margin-left: 4.9%;
}