/*Estilos de la seccion Episodios Diseño mobile*/

.episodes {
    .svg1 {
        min-height: 64px;
        height: 15vw;
    }
    .svg2 {
        min-height: 50px;
        height: 15vw;
    }
}

.container-podcast {
    margin-left: 4.9%;
    margin-right: 4.9%;
    display: flex;
    flex-direction: column;
    .podcast {
        height: 250px;
    }
}