/*Estilos de la seccion De Donde Venimos Diseño mobile*/

.where-come {
    margin: 0;
    height: auto;
    flex-direction: column;
    top: -20vw;
    img {
        min-width: 320px;
        width: 100vw;
    }
    .container-text {
        min-width: 288px;
        width: 90vw;
        margin-top: 0;
        margin-right: 4.9%;
    }
    h2 {
        margin-bottom: 8px;
        line-height: 42px;
    }
}