@charset "UTF-8";
/*
    Desarrollado por: Juan Sebastian Rios Valencia
    Usuario git: Juansecod
    Linkedin: https://www.linkedin.com/in/juansecode/
*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Variables en donde se guarda todas la paleta de colores*/
/*Variables en donde se guarda el tamaño de las fuentes*/
.btn-more-info, .btn-hear-podcast {
  color: #060A24;
  font-size: 18px;
  background-color: #00F3BB;
  cursor: pointer;
  border: none;
}

.btn-more-info:hover, .btn-hear-podcast:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  cursor: pointer;
  color: #ffff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*Diseño Desktop*/
* {
  font-family: 'IBM Plex Mono', monospace;
  color: #060A24;
}

/*Estilos del scrollbar*/
body::-webkit-scrollbar {
  width: 10px;
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb {
  background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
body::-webkit-scrollbar-track {
  background: #ffff;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

/*Reglas basicas para algunas etiquetas*/
p {
  font-size: 16px;
}

a {
  font-size: 16px;
  text-decoration: none;
}

h2 {
  font-size: 48px;
  font-family: "IBM Plex Sans", sans-serif;
  margin-left: 13.9%;
}

section {
  margin-top: 4.4%;
}

main {
  margin-bottom: 34px;
}

/*Estilos del header*/
header {
  position: -webkit-sticky;
  position: sticky;
  background-color: #ffff;
  top: 0px;
  padding: 0.7% 6.9% 0.7% 6.9%;
  width: 100%;
  height: 5.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

header .logo {
  width: 36px;
  height: 36px;
}

/*Estilos de la barra de navegación*/
.navbar input,
.navbar span {
  display: none;
}

.navbar ul {
  width: 33.5%;
  width: auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar li {
  letter-spacing: 0;
  line-height: 28px;
  margin-right: 48px;
}

.navbar a:hover {
  color: #00F3BB;
  text-decoration: line-through;
}

.navbar .active {
  color: rgba(6, 10, 36, 0.56);
  text-decoration: line-through;
}

/*Estilos de la seccion Banner*/
.banner {
  margin-top: 8.3%;
  margin-left: 13.9%;
  font-size: 64px;
}

.banner p {
  max-width: 628px;
}

.banner h1 {
  display: inline-block;
  max-width: 1200px;
  font-family: "IBM Plex Sans", sans-serif;
}

/*Caracteristicas de palabras especificas*/
.world {
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: line-through;
}

.blue-dot {
  font-family: "IBM Plex Sans", sans-serif;
  color: #0000EC;
}

.btn-more-info {
  margin-top: 56px;
  width: 225px;
  height: 56px;
}

/*Estilos de la seccion Episodios*/
.episodes {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}

.episodes h2 {
  margin-bottom: 1.8%;
  color: #ffff;
}

.episodes .svg1 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: relative;
  top: -0.1vh;
  width: 100%;
  height: 20vh;
  margin-bottom: 5%;
}

.episodes .svg2 {
  position: relative;
  top: 0.7vh;
  width: 100%;
  height: 20vh;
}

.container-podcast {
  width: 86.1%;
  margin-left: 6.9%;
  margin-right: 6.9%;
  padding-bottom: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 5vw;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.container-podcast .podcast {
  border: none;
  min-width: 298px;
  width: 100%;
  height: 232px;
}

/*Estilos de la seccion De Donde Venimos*/
.where-come {
  position: relative;
  top: -15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.where-come img {
  width: 457.6px;
  height: auto;
}

.where-come .container-text {
  margin-left: 4.3%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 464px;
}

.where-come h2 {
  margin-left: 0;
  margin-bottom: 24px;
}

.where-come p {
  margin-bottom: 10px;
}

/*Estilos de la seccion Invitados*/
.guests {
  position: relative;
  top: -25vh;
}

.guests h2 {
  margin-bottom: 2.5%;
}

.galery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-row: 9.3% 9.3%;
}

.galery img {
  width: 100%;
}

/*Estilos de la seccion Temas*/
.themes {
  position: relative;
  top: -18vh;
}

.themes h2 {
  margin-bottom: 3.9%;
}

.container-themes {
  margin-left: 13.9%;
  margin-right: 13.9%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 130px 64px;
      grid-template-rows: 130px 64px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  justify-items: center;
  font-size: 24px;
  text-align: center;
}

.text-theme1 {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.text-theme2 {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.text-theme3 {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.text-theme4 {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

/*Estilos de la seccion Escuchar Podcast*/
.hear-podcast {
  width: 100%;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10.5%;
}

.hear-podcast h2 {
  color: #ffff;
  margin: 0;
  margin-bottom: 2.5%;
}

.hear-podcast svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: relative;
  top: -0.1vh;
  width: 100%;
  height: 20vh;
  margin-bottom: 5%;
}

.btn-hear-podcast {
  width: 345px;
  height: 56px;
}

/*Estilos del Footer*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 6.9%;
  margin-right: 6.9%;
  margin-bottom: 31px;
}

footer a {
  padding-top: 5px;
  width: 100%;
  height: auto;
  text-align: center;
}

footer a:hover i {
  background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.container-social-networks {
  width: 20%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 2.5%;
}

i {
  width: 18px;
  height: 28px;
  color: #060A24;
}

/*Diseño Responsive para movil*/
@media screen and (max-width: 768px) {
  /*Reglas basicas para algunas etiquetas en el diseño mobile*/
  p {
    font-size: 14px;
  }
  a {
    font-size: 14px;
  }
  h2 {
    font-size: 36px;
    margin-left: 4.9%;
  }
  /*Estilos del header Diseño mobile*/
  header {
    height: 46px;
  }
  .navbar {
    padding-top: 7.5px;
  }
  .navbar input {
    display: block;
    opacity: 0;
    position: absolute;
    width: 25px;
    height: 27px;
  }
  .navbar span {
    display: block;
    width: 25px;
    height: 2.5px;
    margin-bottom: 6.5px;
    background: #060A24;
    z-index: 1;
    -webkit-transform-origin: 3px 0px;
            transform-origin: 3px 0px;
    -webkit-transition: opacity 0.55s ease, -webkit-transform 0.5s ease;
    transition: opacity 0.55s ease, -webkit-transform 0.5s ease;
    transition: transform 0.5s ease, opacity 0.55s ease;
    transition: transform 0.5s ease, opacity 0.55s ease, -webkit-transform 0.5s ease;
  }
  .navbar span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  .navbar span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  .navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .navbar ul .li-active {
    background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  }
  .navbar ul .li-active .active {
    color: rgba(6, 10, 36, 0.56);
  }
  .navbar ul li {
    height: -100px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    background-color: #0000EC;
  }
  .navbar ul li:nth-last-child(4) {
    position: absolute;
    top: 46px;
    left: 0px;
    width: 100vw;
  }
  .navbar ul li:nth-last-child(4) a {
    color: #ffff;
  }
  .navbar ul li:nth-last-child(3) {
    position: absolute;
    top: 122px;
    left: 0px;
    width: 100vw;
  }
  .navbar ul li:nth-last-child(3) a {
    color: #ffff;
  }
  .navbar ul li:nth-last-child(2) {
    position: absolute;
    top: 198px;
    left: 0px;
    width: 100vw;
  }
  .navbar ul li:nth-last-child(2) a {
    color: #ffff;
  }
  .navbar ul li:nth-last-child(1) {
    position: absolute;
    top: 274px;
    left: 0px;
    width: 100vw;
  }
  .navbar ul li:nth-last-child(1) a {
    color: #ffff;
  }
  /*Animaciones y propiedades para el menu activo*/
  @-webkit-keyframes display {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes display {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  input[type="checkbox"]:checked ~ ul {
    display: block;
  }
  input[type="checkbox"]:checked ~ ul li {
    height: auto;
    -webkit-animation-name: display;
            animation-name: display;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
  }
  input:checked ~ span {
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transform: rotate(45deg) translate(2px, 1px);
            transform: rotate(45deg) translate(2px, 1px);
  }
  input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(1px, 0px);
            transform: rotate(-45deg) translate(1px, 0px);
  }
  input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  /*Estilos de la seccion Banner Diseño mobile*/
  .banner {
    margin-left: 4.9%;
    margin-right: 4.9%;
    margin-bottom: 7.3%;
  }
  .banner h1 {
    font-size: 36px;
  }
  .banner p {
    margin: 0;
  }
  .btn-more-info {
    margin-top: 36px;
    width: 225px;
    height: 48px;
    font-size: 16px;
  }
  .btn-more-info:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  /*Estilos de la seccion Episodios Diseño mobile*/
  .episodes .svg1 {
    min-height: 64px;
    height: 15vw;
  }
  .episodes .svg2 {
    min-height: 50px;
    height: 15vw;
  }
  .container-podcast {
    margin-left: 4.9%;
    margin-right: 4.9%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-podcast .podcast {
    height: 250px;
  }
  /*Estilos de la seccion De Donde Venimos Diseño mobile*/
  .where-come {
    margin: 0;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: -20vw;
  }
  .where-come img {
    width: 100%;
  }
  .where-come .container-text {
    margin-top: 0;
    margin-right: 4.9%;
  }
  .where-come h2 {
    margin-bottom: 8px;
    line-height: 42px;
  }
  /*Estilos de la seccion Invitados Diseño mobile*/
  .guests {
    position: relative;
    top: -10vw;
  }
  .galery {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  /*Estilos de la seccion Temas Diseño mobile*/
  .themes {
    top: -3vw;
  }
  .themes h2 {
    margin-left: 4.9%;
  }
  .container-themes {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin-left: 4.9%;
    margin-right: 4.9%;
    gap: 13px;
  }
  .text-theme1,
  .text-theme2,
  .text-theme3,
  .text-theme4 {
    -ms-grid-row: auto;
        grid-row-start: auto;
    grid-row-end: auto;
    margin-bottom: 46px;
  }
  /*Estilos de la seccion Escuchar Podcast Diseño mobile*/
  .hear-podcast svg {
    height: 15vw;
  }
  .hear-podcast h2 {
    text-align: center;
    margin: 5% 4.9% 11.3% 4.9%;
  }
  .btn-hear-podcast {
    width: 288px;
    height: 48px;
    font-size: 16px;
  }
  .btn-hear-podcast:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  /*Estilos del Footer Diseño mobile*/
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  footer p {
    margin-bottom: 4.9%;
  }
  footer a:hover i {
    background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .container-social-networks {
    width: 70.9%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  i {
    width: 14px;
    height: 28px;
    color: #060A24;
  }
}
/*# sourceMappingURL=style.css.map */